header{
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #BFADD9;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 13px;;
    color: white;
    font-family: 'Lora';
}

.img-logo{
    width: 20%;
    height: auto;
    margin-right: 15rem;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px auto;
    /* margin-top: 35px; */
    /* margin-left: 505px; */
}

.itens li {
    white-space: nowrap;
}

.itens li :hover {
    text-decoration: underline;
}

.links{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 7.35rem;
    font-size: 1.375rem;
    font-weight: 500;
    font-style: italic;
}
