.inicial{
    background-color: #9BB381;
}

.cartao{
    background-color: #9BB381;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}


.sobre {
    
}
.title{
padding-top: 40px;
padding-bottom: 20px;
margin-left: 90rem;

}


.card {
    width: 100%;
    max-width: 20rem;
    background-color: #AD9F9F;
    /*
     margin-top: 1rem;
    margin-right: 1rem;
    margin: 9rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    */
    margin-left: 90rem;
    padding: 2rem;
    border-radius: 0.2rem;
}